<!DOCTYPE html>
<html dir="{@boa.locale.direction}">
<head>
    <meta charset="{CHARSET}">
    <meta http-equiv="content-type" content="text/html; charset={CHARSET}">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">    
    <title>{$title} - BoaSoft</title>
	<link href="{WWW_RES}home/style.css" rel="stylesheet" type="text/css" />
</head>
